<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".DirectLaunchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Gate3Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Gate4Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Gate5Activity"
            android:exported="true" />
    </application>
</manifest>
